:host {
    margin: auto;
    display: table;
    position: relative;
    height: 100%;
    top: -53px;
    z-index: 1;
}

:host ::content px-dropdown #dropcell > px-dropdown-chevron {
    width: 20px; 
}

:host ::content px-dropdown #dropcell > px-dropdown-chevron #trigger {
    width: 20px;
}

:host ::content #dropcell {
    display : inline-flex;
    background-color: white;
    border: none;
    cursor: pointer;
    fill: transparent;
}

:host ::content #dropcell px-dropdown-text {
    display: inline-table;
}

:host ::content .px-dropdown-text-0 {
    display: inline-table;
}

:host ::content .px-dropdown-text-0 .px-dropdown-text.px-dropdown-text {
    font-size: large;
    color: black;
}

:host ::content .px-dropdown .px-dropdown-content .px-dropdown--content {
    width: auto !important;
}

:host ::content .px-dropdown-content-0 ul.list-bare.px-dropdown-content {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    list-style: none;
}

:host ::content px-dropdown-content div.px-dropdown--content {
    width: auto !important;
}

:host ::content .px-dropdown-content-0 .px-dropdown--listitem.px-dropdown-content {
    white-space: nowrap;
    overflow-x: none;
    text-overflow: none;
}

