.px-dropdown-container {
  position: relative;
  width: 127px;
  top: -52px;
  left: 35%;
  z-index: 1; }

#dropcell.px-dropdown {
  text-align: center;
  width: 100%;
  background-color: white;
  border: 1px solid #b1b1bc;
  border-radius: 3px;
  cursor: pointer; }

px-dropdown #dropcell > px-dropdown-chevron {
  width: 20px; 
}

.px-dropdown-text-0 .px-dropdown-text.px-dropdown-text {
  font-size: 0.999999rem;
  line-height: 1; 
}
